# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# These owners will be the default owners for everything
*             @UGNS/engineering @UGNS/contributors

# UnderGrid Network Services must review any changes to Makefiles
**/Makefile   @UGNS/engineering
**/Makefile.* @UGNS/engineering

# UnderGrid Network Services must review any changes to GitHub actions
.github/*     @UGNS/engineering

# UnderGrid Network Services must review any changes to standard context definition,
# but some changes can be rubber-stamped.
**/*.tf       @UGNS/engineering @UGNS/contributors @UGNS/approvers
README.yaml   @UGNS/engineering @UGNS/contributors @UGNS/approvers
README.md     @UGNS/engineering @UGNS/contributors @UGNS/approvers
docs/*.md     @UGNS/engineering @UGNS/contributors @UGNS/approvers

# UnderGrid Network Services Admins must review all changes to CODEOWNERS or the mergify configuration
.github/mergify.yml @UGNS/admins
.github/CODEOWNERS  @UGNS/admins
